.Questions{
    background-color: rgb(190, 242, 242);
    border-left:5px solid rgb(35, 188, 254);
    width:80%;
    margin:150px auto 0 auto;
    padding: 13px 20px;
}
h2{
    text-align: center;
    font-weight: lighter;
    font-family: 'Quicksand', sans-serif;
}
.lifeline-container{
    display: flex;
    justify-content: space-between;
}
.lifeline{
position: relative;
top: -3px;
}
h5{
    font-size: 15px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.5; 
    font-family: 'Work Sans', sans-serif; 
}
.options-container{
    width:50%;
    display: inline-block;
}
.option{
    background-color: rgb(35, 188, 254);
    border-radius: 30px;
    color:whitesmoke;
    margin: 15px auto;
    padding: 10px;
    transition: 0.3s linear all;
    text-align: center;
    width: 90%;
}
.option:hover{
    background-color: darken(rgb(35,188,254), 20%);

}
.button-container{
    display: flex;
    justify-content: flex-start;
    margin: 0 auto 10px auto;
    padding: 15px;
    width:80%;
}
.button-container button{
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 15px;
    padding:8px 10px;
    font-family: 'Quicksand', sans-serif;
}
.button-container a{
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 15px;
    padding:8px 10px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    background-color: gray;
}
.button-container button:first-child{
   background-color: darken(rgb(35,188,254), 10%);
   transition: 0.2s linear all;
   box-shadow: 5px;
   color: gray;
}
.button-container a:first-child:hover{
    background-color: darken(rgb(35,188,254), 20%);
}
.button-container a:nth-child(2){
    background-color: rgb(57, 234, 125);
    transition: 0.2s linear all;
    box-shadow: 5px;
 }
 .button-container a:last-child{
    background-color: rgb(234, 95, 57);
    transition: 0.2s linear all;
    box-shadow: 5px;
 }
 .button-container button:last-child:hover{
    background-color: darken(rgb(234, 95, 57), 10%);
}
.Hashh{
    display: flex;
  justify-content: space-between;
   margin-top: 50px;
}
.rightt, .leftt{
   background-color: rgb(198, 244, 112);
   color: black;
   padding: 8px;
   border-radius: 30px;
}
.Hashh a{
   text-decoration: none !important;
   font-weight: bold;
}